* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
} 

aside, main, footer {
    position: relative;
    z-index: 1;
}

aside {
    
    width: 220px;
    height: 100vh;
    border-right: 1px solid lightgray;
    position: fixed;
    top: 0;
    left: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px; */
    padding: 20px 10px;
    background: radial-gradient(white 10%, rgba(238, 172, 194, 0.486) 75%, rgba(6, 227, 243, 0.418));

    
}

aside .logo img{
    width: 120px;
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    font-size: 14px;
    color : #000000
    
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    transition: background-color 0.3s;
}
.menu-item:hover {
    background-color: rgba(238, 172, 194, 0.979);
    font-weight: bold;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    
}

.menu-item img{
    width: 15px;
    margin-right: 5px;
}
header, main, footer {
    margin-left: 260px !important;
    margin-right: 180px;

    padding: 15px
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    
    gap: 20px;
    align-items: center;
    justify-items: center;
}

header .profileimage img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 320px ;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}
header .profile-right {
    display: flex;
    gap: 13px;
    flex-direction: column;
    justify-content: flex-start;
}
header .profileset{
    display: flex;
    align-items: center;
    margin-right: 20px;;
    gap: 10px;
}

header .profileset #nickname {
    font-size: 15px;
}


header .profileset button{
    
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    
    
}

header .profileset img{
    width: 28px;
}

header .number-area {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

header .number-area span {
    padding: 3px;
}

main {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;

}

.sortline {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 13px;
    margin-bottom: 10px;
 
}

.sortline span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.sortline img {
    width: 10px;
}

.threeposts {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}

.threeposts div {
    border-radius: 5px;
    height: 300px;
    overflow: hidden;
}

.threeposts #nopost{
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;
    z-index: 999;
    
}
.threeposts #nopost img {
    width: 150px; 
    height: 150px;
    
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-size: 12.5px;
}

footer .introduce a{
    text-decoration: none;
    color: gray;
    gap: 10px
    
}




.modal {
    display: none;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 340px;
    padding: 20px; 
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.modal .modal-header {

    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 8px;
    width: 100%; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.modal .modal-header span {
    padding-left: 100px;
    font-size: 15px;
    font-weight: bold;
}


.modal .modal-header input {
    
    color: blue;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-content {
    display: flex;
    flex-direction: column;
    
    font-size: 13px;
    font-weight: bold;
    gap: 15px;
    padding: 10px;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.modal-content #inputimg{
    width: 80px;
    margin-left: 40px;
    border-radius: 50%;
}
.modal-content #inputimg:hover{
    cursor: pointer;
    background-color: rgb(238, 172, 194);
    box-shadow: 0 2px 10px rgba(212, 20, 155, 0.4);
    
}

.modal-content #fileinput{
    display: none;
}

.close {
    display: none;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.close img{
    width: 40px;
    height: 35px;
    background-color: rgba(216, 83, 127);
    border-radius: 10%;
    box-shadow: 0 2px 10px rgba(212, 20, 155, 0.4);
}



.invisible {
    display: none;
}
.visible {
    display: flex;
    
}

.darkback {
    display: flex;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.13) ;
}



.uploadpost {
    /* display: none; */
    flex-direction: column;
    align-items: center; 
    /* justify-content: center; */
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 7px;
    width: 550px;
    height: 580px;
    padding: 0px; 
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.uploadpost .newpost-header{
    border-bottom : 1px solid lightgray;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 10px ;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.uploadpost .newpost-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height : 550px;
    gap: 25px;
}

.uploadpost .newpost-content img{
    width: 70px;
}
.uploadpost .newpost-content span{
    font-size: 18px;
}
.uploadpost .newpost-content #newpost{
   display: none; 
}
.uploadpost .newpost-content label{
    font-size: 15px;
    background-color: rgba(98, 211, 240, 0.418) ;
    border-radius: 8%;
    padding: 7px 15px;
}

.uploadpost .newpost-content label:hover{
    cursor: pointer;
    background-color: rgba(98, 212, 240, 0.979) ;
    font-weight: bold;
}



.uploadpost1 {
    display: flex
    flex-direction: column;
    align-items: center; 
    position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    border-radius: 7px;
    max-width: calc(100% - 2em - 6px);
    max-height: calc(100% - 2em - 6px);
    /* width: 600px;
    height: 400px; */
    padding: 0px; 
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}


.uploadpost1 .newpost-header1{
    border-bottom : 1px solid lightgray;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 10px ;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    position: relative;
}


.uploadpost1 .newpost-header1 input{
    position: absolute;
    right: 10px;
    color: blue;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.uploadpost1 .newpost-content1 {
    display: flex;
    justify-content: center;
}

.uploadpost1 .newpost-content1 textarea{
    width: 90%;
    height: 300px;
    font-size: 16px;
    padding: 10px;
    border : none;
    box-sizing: border-box;
    outline: none;
}